{
	"prettier.requireConfig": true,
	"prettier.singleAttributePerLine": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true,
	"printWidth": 100,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true,
	"vueIndentScriptAndStyle": false,
	"embeddedLanguageFormatting": "auto"
}