*,
*::before,
*::after {
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
	margin: 0;
}

a:focus, 
button:focus {
	outline: none;
}

a:focus-visible, 
button:focus-visible {
	outline: 1px solid currentColor;
}

button:disabled {
	pointer-events: none;
}